<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                            <a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                        }
                    </nav>
                </header>
                @if (User.Identity.IsAuthenticated)
                {
                    <nav id="menu1">
                        <ul>
                            <li>
                                @if (User.IsInRole("admin"))
                                {
                                    <a href="">Администратор @User.Identity.Name</a>
                                    <ul>
                                        <li><a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="">Пользователи</a></li>
                                        <li><a asp-area="" asp-controller="Roles" asp-action="Index" asp-route-id="">Роли</a></li>
                                        <li><a asp-area="" asp-controller="Admin" asp-action="Index" asp-route-id="">Панель администратора</a></li>
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <a href="">Пользователь @User.Identity.Name</a>
                                    <ul>
                                        <li><a asp-area="" asp-controller="Home" asp-action="UserInfo" asp-route-id="">Логин @User.Identity.Name</a></li>
                                        @if (User.IsInRole("moderator") || User.IsInRole("executor"))
                                        { 
                                            <li><a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="">Пользователи</a></li>
                                        }
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
                                    </ul>                                    
                                }
                            </li>
                        </ul>
                    </nav>
                }
                </div>
        </div>
    </div>
</div>
