﻿@model ChangeRoleViewModel
@{
    string strTitle = "Изменение ролей для пользователя " + @Model.UserEmail;
    ViewBag.Title = strTitle;
}

<div>
    <hr />
    <p><strong>@strTitle</strong></p>
    <hr />

    <table class="table" style="width:500px">
        <tr>
            <td>
                <form asp-action="Edit" method="post">
                    <td>
                        <input type="hidden" name="userId" value="@Model.UserId" />
                    </td>
                    @foreach (IdentityRole role in Model.AllRoles)
                    {
                        <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                        @role.Name
                        <br />
                    }
                    <br />
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </td>
        </tr>
    </table>
</div>