﻿@model IEnumerable<User>
@{
    string strTitle = "Список пользователей";
    ViewBag.Title = strTitle;
}

<div>
    <hr />
    <p><strong>@strTitle</strong></p>
    <hr />

    <table class="table" style="width:500px">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.NormalizedUserName @user.Email</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </td>
            </tr>
        }
    </table>
</div>