﻿@model User
@{
    string strTitle = $"Пользователь {@Model?.Name} {Model?.SurName} {Model?.MiddleName} {@User.Identity.Name}";
    ViewBag.Title = strTitle;
}

<div>    
    <h2>@strTitle</h2>
    <div>
        <h3>Информация о пользователе @User.Identity.Name</h3>
        <div>
            @Model?.Name
        </div>
        <div>
            @Model?.UserName
        </div>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>