﻿@model CreateUserViewModel
@{
    string strTitle = "Добавление пользователя";
    ViewBag.Title = strTitle;

}
<hr />
<p><strong>@strTitle</strong></p>
<hr />

<div class="form-group">
    <form asp-controller="Users" asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Login" class="control-label">Логин</label>
        <input type="text" asp-for="Login" class="form-control" /><br />
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" /><br />
        <label asp-for="SurName" class="control-label">Фамилия</label>
        <input type="text" asp-for="SurName" class="form-control" /><br />
        <label asp-for="MiddleName" class="control-label">Отчество</label>
        <input type="text" asp-for="MiddleName" class="form-control" /><br />
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" /><br />
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" /><br />
        <br />
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </form>
</div>