﻿@model EditUserViewModel
@{
    string strTitle = "Редактирование пользователя";
    ViewBag.Title = strTitle;
}

<div>
    <hr />
    <p><strong>@strTitle</strong></p>
    <hr />
    <div class="form-group">
        <form asp-action="Edit" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <label asp-for="Name" class="control-label">Имя</label>
            <input type="text" asp-for="Name" class="form-control" /><br />
            <label asp-for="SurName" class="control-label">Фамилия</label>
            <input type="text" asp-for="SurName" class="form-control" /><br />
            <label asp-for="MiddleName" class="control-label">Отчество</label>
            <input type="text" asp-for="MiddleName" class="form-control" /><br />
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" /><br />
            <br />
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </form>
    </div>
</div>