﻿@model IEnumerable<User>
@{
    string strTitle = "Список пользователей";
    ViewBag.Title = strTitle;
}

<div>
    <hr />
    <p><strong>@strTitle</strong></p>
    <hr />
    @if (User.IsInRole("admin"))
    {
        <div class="div-box">
            <a asp-area="" asp-controller="Users" asp-action="Create">Добавить пользователя</a>
        </div>
    }
    <table class="table" style="width:500px">
        <tbody>
            <tr><td>Логин</td><td>ФИО</td><td>Email</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.NormalizedUserName</td>
                    <td>@user.SurName @user.Name @user.MiddleName</td>
                    <td>@user.Email</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>